@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Averta';
  src: url('/fonts/AvertaStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/AvertaStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Averta';
  src: url('/fonts/AvertaStd-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/AvertaStd-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Averta', sans-serif;
  margin: 0;
  color: $text-black;
}

a {
  color: $text-black;
  text-decoration: none;

  &:hover {
    color: $text-blue;
  }
}

.btn {
  height: 44px;
  padding: 0.625rem 1.25rem;
  font-weight: 600;

  &-primary {
    color: $white;

    &:not(:disabled):hover,
    &:not(:disabled):focus-visible,
    &:not(:disabled):active {
      color: $white;
      background-color: $primary-dark;
    }
  }

  &-outline-dark {
    border-color: $bg-grey-3;
    
    &:not(:disabled):hover,
    &:not(:disabled):focus-visible,
    &:not(:disabled):active {
      color: $text-black;
      border-color: $bg-grey-3;
      background-color: $bg-grey-1;
    }

  }
  
  &-rounded {
    border-radius: 50px;
  }
}


.rotate-180 {
  transform: rotate(180deg);
}